[submodule "src/TextEditor"]
	path = src/TextEditor
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "src/tinyfiledialogs"]
	path = src/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
[submodule "libs/LibSL"]
	path = libs/LibSL
	url = https://github.com/shin0bi-y/LibSL
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot
