[submodule "src/tinyfiledialogs"]
	path = src/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
[submodule "libs/LibSL"]
	path = libs/LibSL
	url = https://github.com/shin0bi-y/LibSL
[submodule "src/ImGuiColorTextEdit"]
	path = src/ImGuiColorTextEdit
	url = git@github.com:shin0bi-y/ImGuiColorTextEdit.git
