[submodule "libs/LibSL"]
	path = libs/LibSL
	url = https://github.com/sylefeb/LibSL
[submodule "src/TextEditor"]
	path = src/TextEditor
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "src/tinyfiledialogs"]
	path = src/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
